@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap");
html, body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a, span {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3.1rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.4rem;
}

a {
  font-weight: bold;
}

p {
  line-height: 30px;
  font-size: 1rem;
}

.navbar {
  position: absolute;
  width: 100%;
}

.navbar .navbar-content {
  width: 90%;
  margin: auto;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .nav-brand a {
  color: white;
  text-decoration: none;
}

.navbar .nav-list-content {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #4DA8DA;
  z-index: 9;
  top: 0;
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-list-content ul {
  list-style: none;
  font-size: 50px;
  font-weight: bold;
}

.navbar .nav-list-content ul li {
  margin: 20px;
}

.navbar .nav-list-content ul li a {
  text-decoration: none;
  color: white;
}

.navbar .nav-list-content .btn a {
  background: #4DA8DA;
  padding: 15px 30px;
  color: #EEFBFB;
  text-decoration: none;
}

.navbar .nav-list-content .btn a:hover {
  background: #0b4463;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar .nav-list-on {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
}

.navbar-absolute {
  position: relative;
}

.navbar-absolute .navbar-content .nav-brand a {
  color: #12232E;
}

.navbar-absolute .navbar-content .nav-list-content ul li a {
  color: #12232E;
}

.nav-toggle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #4DA8DA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.nav-toggle div {
  height: 5px;
  width: 40px;
  background: white;
  position: relative;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-toggle ::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: white;
  top: 10px;
  right: 0px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-toggle ::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: white;
  top: -10px;
  right: 0px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-toggle-on {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-toggle-on div {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-toggle-on ::after {
  top: 0px;
  -webkit-transform: rotate(-95deg);
          transform: rotate(-95deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-toggle-on ::before {
  display: none;
}

.nav-toggle-on :hover {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

@media (min-width: 800px) {
  .navbar .navbar-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .nav-list-content {
    position: relative;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    background: transparent;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: auto;
  }
  .navbar .nav-list-content ul {
    font-size: 14px;
  }
  .navbar .nav-list-content ul li :hover {
    text-decoration: underline;
  }
  .navbar .nav-list-content ul li a {
    padding: 20px 10px;
  }
  .navbar ul {
    padding: 0;
    margin: 0;
  }
  .navbar ul li {
    display: inline-block;
  }
  .nav-toggle {
    display: none;
  }
}

.home-banner {
  height: 100vh;
  width: 100%;
  background-color: #12232E;
  color: #EEFBFB;
}

.home-banner-content {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
}

.home-banner-content h1 {
  font-weight: bold;
}

.home-banner-content h5 {
  font-weight: 300;
}

.home-banner-content .home-banner-txt, .home-banner-content .home-banner-image {
  width: 50%;
}

@media (max-width: 700px) {
  .home-banner-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-banner-txt {
  margin: 50px 20px 50px 5%;
  margin-bottom: 50px;
}

.home-banner-txt * {
  margin: 20px auto;
}

.home-banner-txt p {
  width: 90%;
  margin-left: 0;
}

.home-banner-image {
  position: relative;
  height: 100%;
}

.home-banner-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-banner-image .home-bannner-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
}

.btn-light a {
  background: #4DA8DA;
}

.btn-light a:hover {
  background: #0b4463;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn-dark a {
  background: #007CC7;
}

.btn-dark a:hover {
  background: #0b4463;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.button-group div {
  margin: 20px 20px 20px 0px;
  padding: 15px 0px;
}

.button-group a {
  padding: 15px 30px;
  color: #EEFBFB;
  text-decoration: none;
}

@media (max-width: 800px) {
  .home-banner-content .home-banner-txt, .home-banner-content .home-grid-image {
    width: 100%;
  }
  .home-banner-image {
    display: none;
  }
  .nav-list-content .btn {
    display: none;
  }
}

.home-about {
  position: relative;
  padding: 50px 0px;
}

.home-about-content {
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-about-content .prabhi-pic, .home-about-content .home-about-txt {
  width: 50%;
}

.home-about-txt > div {
  margin: 20px auto;
}

.home-about-txt h2, .home-about-txt p {
  margin: 20px auto;
}

.tech-list-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tech-list-grid .tech-list-card {
  text-align: center;
}

.tech-list-grid .tech-list-card p {
  font-size: 12px;
}

.tech-list-grid div {
  margin: 5px 35px 0px 0px;
}

.prabhi-pic img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 800px) {
  .home-about-content {
    display: block;
  }
  .home-about-content .home-about-txt, .home-about-content .prabhi-pic {
    width: 100%;
  }
  .home-about-content .home-about-txt .btn {
    margin: 20px 20px 20px 0px;
  }
}

.home-work {
  background: #f7f5f5;
}

.home-work-content {
  padding: 50px 0px;
  width: 90%;
  margin: auto;
  text-align: center;
}

.home-work-content > div {
  margin: 20px auto;
}

.home-work-content span {
  color: #4DA8DA;
}

.home-work-grid > div {
  margin: 20px auto;
}

.home-work-grid-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  height: 70%;
}

.home-work-grid-card > div {
  width: 50%;
}

.home-grid-txt {
  margin: 20px;
}

.home-grid-txt h3 {
  margin-bottom: 20px;
}

.home-grid-txt .btn {
  margin: 40px 20px 40px 0px;
}

.home-grid-txt .btn a {
  padding: 15px 20px;
  text-decoration: none;
  color: #EEFBFB;
}

.home-grid-img {
  text-align: center;
}

.home-grid-img img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 800px) {
  .home-work-grid-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .home-work-grid-card > div {
    width: 100%;
  }
  .home-work-grid-card .home-grid-txt {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
  .home-work-grid-card .home-grid-txt .btn {
    width: 100%;
  }
}

.home-work-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-work-link .btn {
  margin: 20px 20px 0px 0px;
  text-align: center;
  padding: 15px 0px;
}

.home-work-link .btn a {
  padding: 15px 30px;
  text-decoration: none;
  color: #EEFBFB;
}

.contact {
  padding: 50px 0px;
  background: #12232E;
  color: #EEFBFB;
}

.contact-content {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-content > div {
  width: 50%;
}

.button-group-block {
  display: block;
}

.social-links {
  text-align: right;
}

.social-links * {
  margin: 10px 5px 10px 0px;
}

.social-list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .contact-content {
    display: block;
  }
  .contact-content > div {
    width: 100%;
  }
  .social-links {
    text-align: left;
  }
  .social-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer {
  background: #1d1c1c;
  color: #EEFBFB;
  padding: 50px 0px;
  text-align: center;
}

.footer * {
  margin: 20px auto;
}

.nav-footer-list {
  width: 90%;
  margin: auto;
  text-align: right;
}

.nav-footer-list ul {
  padding: 0;
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-footer-list ul a {
  color: #EEFBFB;
  text-decoration: none;
  padding: 10px 20px;
}

@media (max-width: 800px) {
  .nav-footer-list ul {
    width: 100%;
  }
}

.work-content {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-content .work-grid {
  width: 70%;
}

.work-content .work-grid-extras {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 30%;
}

.work-heading {
  text-align: center;
  margin: 20px;
}

.work-grid-extras > div {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.work-grid-extras > div > div {
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: #EEFBFB;
}

.work-grid-extras > div > div * {
  margin: 20px auto;
}

.work-grid-extras > div > div .btn {
  padding: 20px;
  margin: 20px;
}

.work-grid-extras > div > div .btn a {
  padding: 20px;
  margin: 20px;
  color: #EEFBFB;
  text-decoration: none;
}

.work-grid-extra-codepen {
  background: #332E2E;
}

.work-grid-extra-behance {
  background: #5624DF;
}

@media (max-width: 800px) {
  .work-content {
    display: block;
  }
  .work-content .work-grid {
    width: 100%;
  }
  .work-content .work-grid-extras {
    width: 100%;
    position: relative;
  }
  .work-content .work-grid-extras > div > div {
    margin: 20px auto;
  }
}

.project-content {
  padding: 50px 0px;
  width: 90%;
  margin: auto;
}

.project-content p {
  margin: 20px auto;
}

.project-content p span {
  font-weight: bold;
}

.project-content > div {
  margin: 30px auto;
}

.project-heading {
  text-align: center;
}

.project-heading h1 {
  margin: 30px;
}

.project-heading .btn {
  margin: 30px 30px 50px 30px;
}

.project-heading .btn a {
  background: #4DA8DA;
  padding: 15px 30px;
  color: #EEFBFB;
  text-decoration: none;
}

.project-heading .btn-light {
  background: none;
}

.project-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-gallery > div {
  margin: 10px 20px;
}

.project-gallery-card {
  height: 25vw;
  width: 25vw;
  overflow: hidden;
  cursor: pointer;
  border: thin solid #12232E;
}

.project-gallery-card img {
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .project-gallery-card {
    width: 60vw;
    height: 60vw;
  }
}

.modal-on {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
}

.modal-on .project-gallery-card {
  position: absolute;
  overflow: scroll;
  top: 0;
  left: 0;
  z-index: 22;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
}

.modal-on .project-gallery-card img {
  width: 50%;
}

.about-content {
  padding: 50px 0px;
  width: 90%;
  margin: auto;
}

.about-content > div {
  margin: 30px auto;
}

.page-heading {
  text-align: center;
}

.about-txt * {
  margin: 30px auto;
}

.about-txt .tech-list {
  text-align: center;
  width: 60%;
}

.about-txt .tech-list .tech-list-content .tech-list-grid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-txt .tech-list .tech-list-content .tech-list-grid * {
  margin: 0px 10px;
}

@media (max-width: 800px) {
  .about-txt .tech-list {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */